body {
    font-family: monospace;
}

img {
    width: 50px;
}

video {
    border-radius: 50%;
    width: 200px;
    filter: drop-shadow(3px 3px 5px #ffffff);
}

#background {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(favicon.ico);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
