body {
    font-family: monospace;
}

img {
    width: 50px;
}

.video {
    border-radius: 1.5%;
    width: 200px;
    filter: drop-shadow(3px 3px 5px #ffffff);
}

#background {

    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/Images/favicon.ico);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, cn;
}

.octicon-repo {
    cursor: grab;
}
